.header {
    background-color: Salmon;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: white;
    padding: 20px 0;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}

.nav a:hover, .active {
    color: Green
}